@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');



body{
    /*how the whole website is supposed to*/
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color:#F3A5A5;
    padding: 0;
    margin: 0;
    text-align: center;
    color: black;
}
.NAvbar{
    /* Navbar Part */
    position: fixed;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color:lightskyblue;

    
}

.NAvbar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.NAvbar ul a {
    color: black;
    flex: 1 1 20%;
    text-decoration: none;
}

.NAvbar ul a:hover {
    text-decoration: black;
 }

h1{
    float: center;
    font-size: 500%;   
}
.meow p{
    font-size: 120%;
    text-align: center;
    text-transform: inherit;
}
h2{
    font-size: 500%;  
}
.meme1{
    margin-right: 50px;
    margin: 70px;
}
img{
    color: black;
    
   margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
    border-style: solid;
    border-width:thick;

  }


.quoted{
    background-color:darkslategray; 
    color: white;
    
}
.quoted p{
    font-size: 250%;
}
.quoted b{
    font-size: 90%;
}

h3{
    font-size: 150%;
    color:white;
}


button {
    font-size: 200%;
    position: absolute;
    border: 1px solid rgb(245, 245, 245);
    color: black;
    transition: background-color 0.2s;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 200px;

}

button:hover {
    cursor: pointer;
    border: 2px solid black;

}
