<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  
<!-- Title of the wbstite-->
    <title>Random Memes</title>
    <!-- links to css-->
    <link href="css/styles.css" rel="stylesheet"/>
  </head>
  <body>

  <div class="NAvbar">
     <ul>
      <!--navigation bar-->
      <a href="#">About</a>
      <a href="#">Shop</a>
      <a href="#">Contact</a>       
      <a href="#">Sign up</a>
    </ul>             
  </div>
  <br>
  <div class ="meow">
    <!-- The title on the actual site -->
    <h1>Random Memes</h1>
    <p><strong>This website is awesome.<br>It has Diffrent types of memes that you may enjoy and I have named them each individually </strong></p>
    <!-- discription -->   
    <img src="img/lol.jpg" alt="meme1">
    <br>
    <br>
   
  </div>
  <div class="multiple">
    <!--MEME section-->
    <h2>Meme collection</h2>
    <br>
    <!-- Images about memes-->
    <img src="img/Stupidty.jpeg" alt="redit spung bob" height="300px"width="300px">
    <img src="img/Loki-Making-Fun-of-Fury-and-the-King-of-Asgard-By-Pointing-Out-He-Has-Both-Eyes.jpeg" alt="Loki" height="300px"width="300px">
    <img src="img/im fine.jpeg" alt="art meme"height="300px"width="300px">
    <img src="img/avengers-memes.jpeg" alt="averge"height="300px"width="300px">
    <img src="img/cb2170dc9311d11fea3aa410c7474f93.jpeg " alt="Salt trump"height="300px"width="300px">
    <img src="img/2hf8jy.jpeg" alt="wide shrek"height="300px"width="300px">
    <img src="img/wingchung.jpeg" alt="reality"height="300px"width="300px">
    <img src="img/program.jpeg" alt="Program" height="300px"width="300px">
    <img src="img/loki funny.jpeg" alt="introvert loki meeme" height="300px"width="300px">
    <img src="img/ll.jpeg" alt="hello world" height="300px"width="300px">
    <img src="img/haha.png" alt="its not been around that long" height="300px"width="300px">
    <img src="img/doggo.jpeg" alt="dogmeme" height="300px"width="300px">
    <img src="img/fat ass.jpeg" alt="fatdoggo" height="300px"width="300px">
    <img src="img/cat.jpeg" alt="cat" height="300px"width="300px">
    <img src="img/61swfxPFUuL.jpeg" alt="cat.3" height="300px"width="300px">
    <img src="img/depress.jpg" alt="depress" height="300px"width="300px">
    <img src="img/01-240x300.jpeg" alt="why????" height="300px"width="300px">
  </div>
<br>
  <div class ="quoted">
    <br><br><br><br>
    <!--devides a section for a cool quote-->
    <p><STRONG>"Life is what happens when you’re busy making other plans."</STRONG></p>
    <b>-John Lennon</b>
      <!-- conntact section with a email-->
      <div class="square">
        <h3>Any ideas on what i should do next? <br> or on what improvements I could add <br>contact me</h3>
        <button id="contact" class="email_tag">
          email me
        </button>
        <br>
        <img src="img/tolit.png" alt="TOlit" width="350px" height="250px">
      </div>
  </div>
  </body>
  </html>